
.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}