* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
  }
  
  body::-webkit-scrollbar {
  display: none;
  }
  
  body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  main {
    margin-bottom: 84px;
  }
  