
header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

header .login-icon {
  height: 20px;
  width: 20px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}