
.host-van-detail-layout-container {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail > img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text > h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text > h4 {
    font-size: 20px;
    margin-block: 0;
}



.host-van-detail-nav {
    display: flex;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

